.designertype{
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.designertype li{
    margin: 12px;
}